@import url(style.css);
body.scott {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
}

.scott a, .scott a:hover, .scott a:visited {
  color: #1525ab;
  text-decoration: underline;
}
.scott pre {
  background: none;
  border-radius: 0;
  border: none;
  color: black;
  padding: 0;
  position: static;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.scott hr {
  background: #999;
  border: 1px solid #999;
  height: auto;
  margin: auto;
  padding: 0;
}

.scott #tm_webpreview_header,
.scott #tm_webpreview_header .headline,
.scott #tm_webpreview_header .type {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent none;
  border: none;
  color: black;
  display: block;
  float: none;
  height: auto;
  margin: auto;
  padding: 0;
  position: static;
  text-shadow: none;
  white-space: normal;
}

.scott #tm_webpreview_header .type {
  border: 1px solid #999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: inherit;
  margin: .5em 0;
  padding: .3em;
}

.scott #theme_switcher {
  display: none;
}

.scott #tm_webpreview_footer {
  background: none;
  color: black;
  margin: 1em 0 0;
  padding: 0;
  position: static;
  text-shadow: none;
}

.scott #tm_webpreview_footer p {
  margin: 0;
  padding: 0;
}

.scott #tm_webpreview_content {
  background: inherit;
  margin: 0;
  padding: 0;
}
