@import "compass/css3";

$default: #000;
$default_bg: #fff;

@import "style.css";

body.scott {
	background: $default_bg;
	color: $default;
	margin: 0;
	padding: 0;
}

.scott {
	a, a:hover, a:visited {
		color: #1525ab;
		text-decoration: underline;
	}

	pre {
		background: none;
		border-radius: 0;
		border: none;
		color: $default;
		padding: 0;
		position: static;
		white-space: pre-wrap;
		word-wrap: break-word;
	}

	hr {
		background: #e0e0e0;
		border: 1px solid #999;
		height: auto;
		margin: auto;
		padding: 0;
	}
}

.scott #tm_webpreview_header,
.scott #tm_webpreview_header .headline,
.scott #tm_webpreview_header .type {
	@include box-shadow(none);
	background: transparent none;
	border: none;
	color: $default;
	display: block;
	float: none;
	height: auto;
	margin: auto;
	padding: 0;
	position: static;
	text-shadow: none;
	white-space: normal;
}
.scott #tm_webpreview_header .type {
	border: 1px solid #999;
	@include border-radius(4px);
	font-size: inherit;
	margin: .5em 0;
	padding: .3em;
}
.scott #theme_switcher {
	display: none;
}

.scott #tm_webpreview_footer {
	background: none;
	color: $default;
	margin: 1em 0 0;
	padding: 0;
	position: static;
	text-shadow: none;
}

.scott #tm_webpreview_footer p {
	margin: 0;
	padding: 0;
}

.scott #tm_webpreview_content {
	background: inherit;
	margin: 0;
	padding: 0;
}