/* line 28, files/scss/style.scss */
body.scott {
  -webkit-user-select: none;
  background: white;
  color: black;
  font-family: "Lucida Grande", "Lucida Sans", "Helvetica", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

/* line 40, files/scss/style.scss */
.scott {
  /** Header */
  /** Theme switcher */
  /** Footer */
  /** Content */
  /** Tables */
  /** Module Specific Styles */
  /** Ruby rdoc */
}
/* line 41, files/scss/style.scss */
.scott h1, .scott h2, .scott h3, .scott h4, .scott h5, .scott h6 {
  color: black;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
}
/* line 50, files/scss/style.scss */
.scott h1 {
  font-size: 2em;
}
/* line 51, files/scss/style.scss */
.scott h2 {
  font-size: 1.5em;
}
/* line 52, files/scss/style.scss */
.scott h3 {
  font-size: 1.17em;
}
/* line 53, files/scss/style.scss */
.scott h4 {
  font-size: 1em;
}
/* line 54, files/scss/style.scss */
.scott h5 {
  font-size: 0.83em;
}
/* line 55, files/scss/style.scss */
.scott h6 {
  font-size: 0.67em;
}
/* line 57, files/scss/style.scss */
.scott a {
  color: #1525ab;
  text-decoration: none;
}
/* line 61, files/scss/style.scss */
.scott a:visited {
  color: #680094;
}
/* line 65, files/scss/style.scss */
.scott a:hover, .scott a:active, .scott a:focus {
  text-decoration: underline;
}
/* line 70, files/scss/style.scss */
.scott b, .scott strong {
  font-weight: 700;
}
/* line 74, files/scss/style.scss */
.scott i, .scott em {
  font-style: italic;
}
/* line 78, files/scss/style.scss */
.scott blockquote {
  color: #444444;
  font-style: italic;
  margin-left: 40px;
  margin-right: 0;
}
/* line 87, files/scss/style.scss */
.scott h1, .scott h2, .scott h3, .scott h4, .scott h5, .scott h6, .scott p, .scott pre, .scott blockquote {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-margin-collapse: collapse;
}
/* line 95, files/scss/style.scss */
.scott dl, .scott dt, .scott dd {
  margin-left: 0;
  margin-right: 0;
}
/* line 102, files/scss/style.scss */
.scott dt {
  font-weight: bold;
}
/* line 106, files/scss/style.scss */
.scott dd {
  margin-left: 30px;
}
/* line 110, files/scss/style.scss */
.scott pre, .scott tt, .scott code, .scott kbd, .scott samp, .scott textarea {
  font-family: "Menlo", "Monaco", "Courier New", monospace;
  font-size: inherit;
}
/* line 117, files/scss/style.scss */
.scott pre {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #eee;
  margin: 1em 0;
  overflow: auto;
  padding: .6em .8em;
  position: relative;
  white-space: pre;
  word-wrap: normal;
}
/* line 128, files/scss/style.scss */
.scott pre code {
  white-space: pre;
  word-wrap: normal;
}
/* line 134, files/scss/style.scss */
.scott hr {
  background-color: #e0e0e0;
  border: none;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
/* line 142, files/scss/style.scss */
.scott li > p {
  margin: 0;
}
/* line 148, files/scss/style.scss */
.scott #tm_webpreview_header {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  background: none;
  border: none;
  color: black;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 2.4em;
  left: -2px;
  line-height: 2.4em;
  overflow: visible;
  padding: 0;
  position: fixed;
  right: -2px;
  top: 0;
  width: auto;
  z-index: 10000;
  /** Title */
  /** Subtitle */
}
/* line 169, files/scss/style.scss */
.scott #tm_webpreview_header #gradient {
  height: 4.8em;
  visibility: collapse;
  width: 0;
}
/* line 175, files/scss/style.scss */
.scott #tm_webpreview_header #teaser {
  display: none;
}
/* line 181, files/scss/style.scss */
.scott #tm_webpreview_header .headline {
  -webkit-background-origin: border;
  background-origin: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(215, 215, 215, 0.88)), color-stop(100%, rgba(180, 180, 180, 0.75))), url("images/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(215, 215, 215, 0.88), rgba(180, 180, 180, 0.75)), url("images/noise.png");
  background-image: linear-gradient(top, rgba(215, 215, 215, 0.88), rgba(180, 180, 180, 0.75)), url("images/noise.png");
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.15) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.15) inset;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  height: auto;
  line-height: inherit;
  margin: 0;
  overflow-x: hidden;
  padding: 0 200px 0 12px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 10;
}
/* line 205, files/scss/style.scss */
.scott #tm_webpreview_header .type {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(89, 9, 89, 0.9)), color-stop(100%, rgba(153, 15, 135, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(89, 9, 89, 0.9), rgba(153, 15, 135, 0.9));
  background-image: linear-gradient(top, rgba(89, 9, 89, 0.9), rgba(153, 15, 135, 0.9));
  -webkit-background-origin: border;
  background-origin: border-box;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  color: #fff;
  float: left;
  font-size: 11px;
  line-height: 1.2em;
  margin: 0 7px;
  max-width: 92%;
  min-height: 3px;
  overflow: hidden;
  padding: 2px 10px;
  position: static;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}
/* line 232, files/scss/style.scss */
.scott #tm_webpreview_header .type:empty {
  display: none;
}
/* line 240, files/scss/style.scss */
.scott #theme_switcher {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4a4a4a;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  opacity: 1;
  max-width: 20em;
  padding: 0 1em 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 100;
}
/* line 255, files/scss/style.scss */
.scott #theme_switcher form {
  padding: 0;
}
/* line 259, files/scss/style.scss */
.scott #theme_switcher #theme_selector {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("images/arrow_down.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(201, 201, 201, 0.7)));
  background-image: url("images/arrow_down.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(201, 201, 201, 0.7));
  background-image: url("images/arrow_down.png"), linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(201, 201, 201, 0.7));
  -webkit-background-origin: border;
  background-origin: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15), -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15), -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ddd;
  background-position: right center;
  background-repeat: no-repeat, repeat-x;
  border: 1px solid rgba(100, 100, 100, 0.5);
  color: #444;
  font-weight: bold;
  max-width: 13em;
  outline: none;
  padding: .2em .5em .3em;
}
/* line 278, files/scss/style.scss */
.scott #theme_switcher #theme_selector:hover {
  background-color: #fff;
}
/* line 286, files/scss/style.scss */
.scott #tm_webpreview_footer {
  text-shadow: none;
  -webkit-background-origin: border;
  background-origin: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(242, 242, 242, 0.95)), color-stop(100%, rgba(242, 242, 242, 0.95)));
  background-image: -webkit-linear-gradient(top, rgba(242, 242, 242, 0.95), rgba(242, 242, 242, 0.95));
  background-image: linear-gradient(top, rgba(242, 242, 242, 0.95), rgba(242, 242, 242, 0.95));
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 0 2px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 0 2px 0 rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: 0;
  bottom: 0;
  color: #222;
  display: block;
  font-size: 11px;
  font-weight: 500;
  height: auto;
  left: 0;
  margin: 0 auto;
  max-height: 3em;
  overflow: hidden;
  padding: .3em .6em .4em;
  position: fixed;
  right: 0;
  text-overflow: ellipsis;
  top: auto;
  white-space: nowrap;
  width: auto;
  z-index: 10000;
}
/* line 315, files/scss/style.scss */
.scott #tm_webpreview_footer p {
  margin: 0;
  padding: 0;
}
/* line 323, files/scss/style.scss */
.scott #tm_webpreview_content {
  -webkit-user-select: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  margin: 4.8em 1.5em 1.5em;
  padding: 0;
}
/* line 330, files/scss/style.scss */
.scott #tm_webpreview_content :first-child {
  margin-top: auto;
}
/* line 338, files/scss/style.scss */
.scott table:not([class]):not([style]),
.scott .pro_table {
  border-bottom: 2px solid #eaeaea;
  border-collapse: inherit;
  border-spacing: 0;
  font-size: inherit;
  margin: 0;
  padding: 0;
  /** Column headers */
  /** Striped rows */
}
/* line 348, files/scss/style.scss */
.scott table:not([class]):not([style]) th, .scott table:not([class]):not([style]) td,
.scott .pro_table th,
.scott .pro_table td {
  margin: 0;
  padding: 4px 8px;
  text-align: left;
}
/* line 354, files/scss/style.scss */
.scott table:not([class]):not([style]) th,
.scott .pro_table th {
  font-weight: 700;
}
/* line 358, files/scss/style.scss */
.scott table:not([class]):not([style]) td,
.scott .pro_table td {
  vertical-align: top;
}
/* line 365, files/scss/style.scss */
.scott table:not([class]):not([style]) thead > tr > th, .scott table:not([class]):not([style]) > tbody:first-child > tr:first-child > th,
.scott .pro_table thead > tr > th,
.scott .pro_table > tbody:first-child > tr:first-child > th {
  -webkit-box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset, 0 -35px 35px -35px rgba(50, 50, 50, 0.1) inset;
  box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset, 0 -35px 35px -35px rgba(50, 50, 50, 0.1) inset;
  border-bottom: 1px solid #bbb;
}
/* line 372, files/scss/style.scss */
.scott table:not([class]):not([style]) > tbody > tr:nth-child(even) > td,
.scott .pro_table > tbody > tr:nth-child(even) > td {
  background-color: #f3f6fa;
  background-color: rgba(206, 219, 234, 0.25);
}
/* line 378, files/scss/style.scss */
.scott div.footnotes {
  padding: 1em;
  font-size: 90%;
}
/* line 383, files/scss/style.scss */
.scott .alternate {
  background-color: #f2f5fa;
}
/* line 387, files/scss/style.scss */
.scott #tm_webpreview_content > .viewport {
  -webkit-border-radius: 0;
  border-radius: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-top: 10px;
  position: absolute;
  right: 0;
  top: 30px;
}
/* line 3, files/scss/modules/_ruby-rdoc.scss */
.scott #search_history + script + #actual_output {
  margin: 0 !important;
}
