body.scott {
  -webkit-user-select: none;
  background: white;
  color: black;
  font-family: "Lucida Grande", "Lucida Sans", "Helvetica", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.scott h1, .scott h2, .scott h3, .scott h4, .scott h5, .scott h6 {
  color: black;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.scott h1 {
  font-size: 2em;
}
.scott h2 {
  font-size: 1.5em;
}
.scott h3 {
  font-size: 1.17em;
}
.scott h4 {
  font-size: 1em;
}
.scott h5 {
  font-size: 0.83em;
}
.scott h6 {
  font-size: 0.67em;
}
.scott a {
  color: #1525ab;
  text-decoration: none;
}
.scott a:visited {
  color: #680094;
}
.scott a:hover, .scott a:active, .scott a:focus {
  text-decoration: underline;
}
.scott a:not([href]):hover, .scott a:not([href]):active, .scott a:not([href]):focus {
  text-decoration: none;
}
.scott a[rel="external"] {
  margin-right: 11px;
}
.scott a[rel="external"]::after {
  content: url('images/external-link.png?1343090155');
  height: 12px;
  line-height: 100%;
  margin: 0 0 0 -1px;
  opacity: .8;
  padding: 0 0 0 2px;
  position: absolute;
  vertical-align: middle;
  width: 12px;
}
.scott b, .scott strong {
  font-weight: 700;
}
.scott i, .scott em {
  font-style: italic;
}
.scott blockquote {
  color: #444444;
  font-style: italic;
  margin-left: 40px;
  margin-right: 0;
}
.scott h1, .scott h2, .scott h3, .scott h4, .scott h5, .scott h6, .scott p, .scott pre, .scott blockquote {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-margin-collapse: collapse;
}
.scott dl, .scott dt, .scott dd {
  margin-left: 0;
  margin-right: 0;
}
.scott dt {
  font-weight: bold;
}
.scott dd {
  margin-left: 30px;
}
.scott pre, .scott tt, .scott code, .scott kbd, .scott samp, .scott textarea {
  font-family: "Menlo", "Monaco", "Courier New", monospace;
  font-size: inherit;
}
.scott code, .scott pre {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #eeeeee;
  border: 1px solid rgba(150, 150, 150, 0.07);
  font-size: 11px;
}
.scott code {
  display: inline-block;
  padding: 1px 4px;
}
.scott pre {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 0;
  overflow: auto;
  padding: .6em .8em;
  position: relative;
  white-space: pre;
  word-wrap: normal;
}
.scott pre code {
  background: transparent;
  border: none;
  display: inline;
  padding: 0;
  white-space: pre;
  word-wrap: normal;
}
.scott hr {
  background-color: #e0e0e0;
  border: none;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
.scott li > p {
  margin: 0;
}
.scott #tm_webpreview_header {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  background: none;
  border: none;
  color: black;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 2.4em;
  left: -2px;
  line-height: 2.4em;
  overflow: visible;
  padding: 0;
  position: fixed;
  right: -2px;
  top: 0;
  width: auto;
  z-index: 10010;
}
.scott #tm_webpreview_header #gradient {
  height: 4.8em;
  visibility: collapse;
  width: 0;
}
.scott #tm_webpreview_header #teaser {
  display: none;
}
.scott #tm_webpreview_header .headline {
  -webkit-background-origin: border;
  background-origin: border-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(215, 215, 215, 0.88)), color-stop(100%, rgba(180, 180, 180, 0.75))), url("images/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(215, 215, 215, 0.88), rgba(180, 180, 180, 0.75)), url("images/noise.png");
  background-image: linear-gradient(top, rgba(215, 215, 215, 0.88), rgba(180, 180, 180, 0.75)), url("images/noise.png");
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.15) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.15) inset;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  height: auto;
  line-height: inherit;
  margin: 0;
  overflow-x: hidden;
  padding: 0 200px 0 12px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 10;
}
.scott #tm_webpreview_header .type {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(89, 9, 89, 0.9)), color-stop(100%, rgba(153, 15, 135, 0.9)));
  background-image: -webkit-linear-gradient(top, rgba(89, 9, 89, 0.9), rgba(153, 15, 135, 0.9));
  background-image: linear-gradient(top, rgba(89, 9, 89, 0.9), rgba(153, 15, 135, 0.9));
  -webkit-background-origin: border;
  background-origin: border-box;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  color: #fff;
  float: left;
  font-size: 11px;
  line-height: 1.2em;
  margin: 0 7px;
  max-width: 92%;
  min-height: 3px;
  overflow: hidden;
  padding: 2px 10px;
  position: static;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}
.scott #tm_webpreview_header .type:empty {
  display: none;
}
.scott #theme_switcher {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #4a4a4a;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  opacity: 1;
  max-width: 20em;
  padding: 0 1em 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 100;
}
.scott #theme_switcher form {
  padding: 0;
}
.scott #theme_switcher #theme_selector, .scott #theme_switcher div.executor > .controls a, .scott div.executor > .controls #theme_switcher a {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("images/arrow_down.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(201, 201, 201, 0.7)));
  background-image: url("images/arrow_down.png"), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(201, 201, 201, 0.7));
  background-image: url("images/arrow_down.png"), linear-gradient(top, rgba(255, 255, 255, 0.7), rgba(201, 201, 201, 0.7));
  -webkit-background-origin: border;
  background-origin: border-box;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15), -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.15), -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ddd;
  background-position: right center;
  background-repeat: no-repeat, repeat-x;
  border: 1px solid rgba(100, 100, 100, 0.5);
  color: #444;
  font-weight: bold;
  max-width: 13em;
  outline: none;
  padding: .2em .5em .3em;
}
.scott #theme_switcher #theme_selector:hover, .scott #theme_switcher div.executor > .controls a:hover, .scott div.executor > .controls #theme_switcher a:hover {
  background-color: #fff;
}
.scott #tm_webpreview_footer, .scott div#exception_report.framed:last-child {
  text-shadow: none;
  -webkit-background-origin: border;
  background-origin: border-box;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 0 2px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 0 2px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(242, 242, 242, 0.95);
  border: 0;
  bottom: 0;
  color: #222;
  display: block;
  font-size: 11px;
  font-weight: 500;
  height: auto;
  left: 0;
  margin: 0 auto;
  max-height: 3em;
  overflow: hidden;
  padding: .3em .6em .4em;
  position: fixed;
  right: 0;
  text-overflow: ellipsis;
  top: auto;
  white-space: nowrap;
  width: auto;
  z-index: 10000;
}
.scott #tm_webpreview_footer p, .scott div#exception_report.framed:last-child p {
  margin: 0;
  padding: 0;
}
.scott #tm_webpreview_content {
  -webkit-user-select: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  margin: 4.8em 1.5em 1.5em;
  padding: 0;
}
.scott #tm_webpreview_content :first-child {
  margin-top: auto;
}
.scott table {
  border-collapse: collapse;
  empty-cells: show;
}
.scott table:not([class]):not([style*=":"]),
.scott .pro_table {
  -webkit-box-shadow: 0 1px 0 0 rgba(150, 150, 150, 0.1);
  box-shadow: 0 1px 0 0 rgba(150, 150, 150, 0.1);
  border-bottom: 1px solid #d0d0d0;
  border-collapse: separate;
  border-spacing: 0;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.scott table:not([class]):not([style*=":"]) th, .scott table:not([class]):not([style*=":"]) td,
.scott .pro_table th,
.scott .pro_table td {
  margin: 0;
  padding: 4px 8px;
  text-align: left;
}
.scott table:not([class]):not([style*=":"]) th,
.scott .pro_table th {
  font-weight: 700;
}
.scott table:not([class]):not([style*=":"]) > tbody > tr > th,
.scott table:not([class]):not([style*=":"]) td,
.scott .pro_table > tbody > tr > th,
.scott .pro_table td {
  vertical-align: top;
}
.scott table:not([class]):not([style*=":"]) > thead > tr > th, .scott table:not([class]):not([style*=":"]) > tbody:first-child > tr:first-child > th,
.scott .pro_table > thead > tr > th,
.scott .pro_table > tbody:first-child > tr:first-child > th {
  -webkit-box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset, 0 -35px 35px -35px rgba(50, 50, 50, 0.1) inset;
  box-shadow: 0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset, 0 -35px 35px -35px rgba(50, 50, 50, 0.1) inset;
  border-bottom: 1px solid #c6c6c6;
}
.scott table:not([class]):not([style*=":"]) > tbody:first-child > tr:first-child > td,
.scott .pro_table > tbody:first-child > tr:first-child > td {
  -webkit-box-shadow: 0 -1px 0 0 rgba(150, 150, 150, 0.1);
  box-shadow: 0 -1px 0 0 rgba(150, 150, 150, 0.1);
  border-top: 1px solid #d6d6d6;
}
.scott table:not([class]):not([style*=":"]) > tbody:first-child > tr > td:first-child,
.scott .pro_table > tbody:first-child > tr > td:first-child {
  border-left: 1px solid #e2e2e2;
}
.scott table:not([class]):not([style*=":"]) > tbody:first-child > tr > td:last-child,
.scott .pro_table > tbody:first-child > tr > td:last-child {
  border-right: 1px solid #e2e2e2;
}
.scott table:not([class]):not([style*=":"]) > tbody > tr:nth-child(even) > td,
.scott .pro_table > tbody > tr:nth-child(even) > td {
  background-color: #f3f6fa;
  background-color: rgba(206, 219, 234, 0.25);
}
.scott div.footnotes {
  font-size: 11px;
  padding: 1em;
}
.scott div.footnotes li > p {
  display: inline;
}
.scott .alternate {
  background-color: #f3f6fa;
  background-color: rgba(206, 219, 234, 0.25);
}
.scott .notice.error, .scott div#exception_report {
  -webkit-box-shadow: 0 50px 50px -40px rgba(255, 100, 100, 0.1) inset, 0 0 3px 0 rgba(255, 0, 0, 0.5) inset, 0 0 1px rgba(80, 0, 0, 0.3);
  box-shadow: 0 50px 50px -40px rgba(255, 100, 100, 0.1) inset, 0 0 3px 0 rgba(255, 0, 0, 0.5) inset, 0 0 1px rgba(80, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff8f8;
  border: 1px solid #e30b0b;
  padding: 5px 8px 6px;
  margin: 0;
}
.scott .highlight pre .hll {
  background-color: #ffffcc;
}
.scott .highlight pre .err {
  border: 1px solid #FF0000;
}
.scott .highlight pre .c {
  color: #408080;
  font-style: italic;
}
.scott .highlight pre .k {
  color: #008000;
  font-weight: bold;
}
.scott .highlight pre .o {
  color: #666666;
}
.scott .highlight pre .cm {
  color: #408080;
  font-style: italic;
}
.scott .highlight pre .cp {
  color: #BC7A00;
}
.scott .highlight pre .c1 {
  color: #408080;
  font-style: italic;
}
.scott .highlight pre .cs {
  color: #408080;
  font-style: italic;
}
.scott .highlight pre .gd {
  color: #A00000;
}
.scott .highlight pre .ge {
  font-style: italic;
}
.scott .highlight pre .gr {
  color: #FF0000;
}
.scott .highlight pre .gh {
  color: #000080;
  font-weight: bold;
}
.scott .highlight pre .gi {
  color: #00A000;
}
.scott .highlight pre .go {
  color: #808080;
}
.scott .highlight pre .gp {
  color: #000080;
  font-weight: bold;
}
.scott .highlight pre .gs {
  font-weight: bold;
}
.scott .highlight pre .gu {
  color: #800080;
  font-weight: bold;
}
.scott .highlight pre .gt {
  color: #0040D0;
}
.scott .highlight pre .kc {
  color: #008000;
  font-weight: bold;
}
.scott .highlight pre .kd {
  color: #008000;
  font-weight: bold;
}
.scott .highlight pre .kn {
  color: #008000;
  font-weight: bold;
}
.scott .highlight pre .kp {
  color: #008000;
}
.scott .highlight pre .kr {
  color: #008000;
  font-weight: bold;
}
.scott .highlight pre .kt {
  color: #B00040;
}
.scott .highlight pre .m {
  color: #666666;
}
.scott .highlight pre .s {
  color: #BA2121;
}
.scott .highlight pre .na {
  color: #7D9029;
}
.scott .highlight pre .nb {
  color: #008000;
}
.scott .highlight pre .nc {
  color: #0000FF;
  font-weight: bold;
}
.scott .highlight pre .no {
  color: #880000;
}
.scott .highlight pre .nd {
  color: #AA22FF;
}
.scott .highlight pre .ni {
  color: #999999;
  font-weight: bold;
}
.scott .highlight pre .ne {
  color: #D2413A;
  font-weight: bold;
}
.scott .highlight pre .nf {
  color: #0000FF;
}
.scott .highlight pre .nl {
  color: #A0A000;
}
.scott .highlight pre .nn {
  color: #0000FF;
  font-weight: bold;
}
.scott .highlight pre .nt {
  color: #008000;
  font-weight: bold;
}
.scott .highlight pre .nv {
  color: #19177C;
}
.scott .highlight pre .ow {
  color: #AA22FF;
  font-weight: bold;
}
.scott .highlight pre .w {
  color: #bbbbbb;
}
.scott .highlight pre .mf {
  color: #666666;
}
.scott .highlight pre .mh {
  color: #666666;
}
.scott .highlight pre .mi {
  color: #666666;
}
.scott .highlight pre .mo {
  color: #666666;
}
.scott .highlight pre .sb {
  color: #BA2121;
}
.scott .highlight pre .sc {
  color: #BA2121;
}
.scott .highlight pre .sd {
  color: #BA2121;
  font-style: italic;
}
.scott .highlight pre .s2 {
  color: #BA2121;
}
.scott .highlight pre .se {
  color: #BB6622;
  font-weight: bold;
}
.scott .highlight pre .sh {
  color: #BA2121;
}
.scott .highlight pre .si {
  color: #BB6688;
  font-weight: bold;
}
.scott .highlight pre .sx {
  color: #008000;
}
.scott .highlight pre .sr {
  color: #BB6688;
}
.scott .highlight pre .s1 {
  color: #BA2121;
}
.scott .highlight pre .ss {
  color: #19177C;
}
.scott .highlight pre .bp {
  color: #008000;
}
.scott .highlight pre .vc {
  color: #19177C;
}
.scott .highlight pre .vg {
  color: #19177C;
}
.scott .highlight pre .vi {
  color: #19177C;
}
.scott .highlight pre .il {
  color: #666666;
}
.scott div.executor {
  padding-bottom: 20px;
}
.scott div.executor > .controls {
  bottom: 0;
  position: fixed;
  right: 0;
  padding: .3em .6em .4em;
  text-align: right;
  z-index: 10001;
}
.scott div.executor > .controls a:hover {
  text-decoration: underline;
}
.scott div.executor p#exception strong {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  color: #e30000;
}
.scott div.executor table {
  background: white;
}
.scott div#_executor_output .err {
  color: #e30000;
}
.scott div#_executor_output .echo {
  font-style: italic;
}
.scott div#_executor_output .test.ok {
  color: #0acc0a;
}
.scott div#_executor_output .test.fail {
  color: #e30000;
}
.scott div#exception_report {
  margin-left: 20px;
  margin-right: 20px;
}
.scott div#exception_report.framed:last-child {
  font-size: 12px;
}
.scott div#exception_report > blockquote {
  margin: 0;
  padding: 0;
}
.scott #search_history + script + #actual_output {
  margin: 0 !important;
}
