body.scott {
	background: #fff;
	color: #000;
	font-family: "Lucida Sans", "Lucida Grande", Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 50px 0 0;
}

.scott h1,
.scott h2,
.scott h3,
.scott h4,
.scott h5,
.scott h6,
.scott #tm_webpreview_header .headline {
	color: #000;
	font-weight: 500;
	margin: 0 0 .5em;
}

.scott a {
	color: #1525ab;
	text-decoration: none;
}

.scott a:visited {
	color: #680094;
}

.scott a:hover {
	text-decoration: underline;
}

.scott blockquote {
	color: #444;
}

.scott code,
.scott pre,
.scott tt {
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: inherit;
}

.scott pre {
	-webkit-border-radius: 4px;
	background: #eee;
	margin: 1em 0;
	overflow: auto;
	padding: .6em .8em;
	white-space: pre;
	word-wrap: normal;
}

.scott hr {
	background-color: #e0e0e0;
	border: none;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

.scott li > p {
	margin: 0;
}

.scott #tm_webpreview_header {
	background: none;
	color: #000;
	display: block;
	font-size: inherit;
	left: 0;
	overflow: visible;
	padding: 0;
	position: fixed;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	top: 0;
	width: 100%;
	z-index: 10000;
}

.scott #tm_webpreview_header #gradient,
.scott #tm_webpreview_header #teaser {
	display: none;
}

.scott #tm_webpreview_header .headline {
	-webkit-background-origin: border-box;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.8), inset 0 -1px 0 0 rgba(255,255,255,.15);
	-webkit-box-sizing: border-box;
	background-color: transparent;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(215,215,215,.88)), to(rgba(180,180,180,.75))), url("images/noise.png");
	border: none;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	height: 28px;
	line-height: 28px;
	overflow-x: hidden;
	padding: 0 200px 0 10px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	z-index: 10;
}

.scott #tm_webpreview_header #actions {
	font-size: inherit;
	position: absolute;
	right: 10em;
	top: 2.3em;
	z-index: 2000;
}

.scott #tm_webpreview_header .type {
	-webkit-background-origin: border-box;
	-webkit-box-shadow: rgba(0,0,0,.3) 0 0 1px 0;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(89,9,89,.9)), to(rgba(153,15,135,.9)));
	border-bottom: 1px solid rgba(0,0,0,.4);
	border-left: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
	border-radius: 0 0 3px 3px;
	border-top: none;
	color: #fff;
	float: left;
	font-size: 11px;
	font-weight: bold;
	margin: 0 5px;
	min-height: 1px;
	padding: 2px 10px;
	position: static;
	text-shadow: 0 1px 0 #000;
	white-space: nowrap;
	width: auto;
}

.scott #theme_switcher {
	color: #4a4a4a;
	font-size: 10px;
	font-weight: bold;
	margin: 0;
	opacity: 1;
	padding: 2px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.scott #theme_switcher form {
	padding: 0;
}

.scott #theme_selector {
	-webkit-appearance: none;
	-webkit-background-origin: border-box;
	-webkit-box-shadow: 1px 0 0 rgba(255,255,255,.15), -1px 0 0 rgba(255,255,255,.15), 0 1px 0 rgba(255,255,255,.2);
	-webkit-box-sizing: border-box;
	background-color: #ddd;
	background-image: url("images/arrow_down.png"), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,.7)), to(rgba(201,201,201,.7)));
	background-position: right center;
	background-repeat: no-repeat, repeat-x;
	border-radius: 3px;
	border: 1px solid rgba(100,100,100,.5);
	color: #444;
	font-weight: bold;
	outline: none;
	padding: 2px 5px 3px;
}

.scott #theme_selector:hover {
	background-color: #fff;
}

.scott #tm_webpreview_footer {
	background: #292929;
	bottom: 0;
	color: #fff;
	display: block;
	left: 0;
	max-height: 50px;
	overflow: visible;
	padding: 0;
	position: fixed;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	width: 100%;
	z-index: 100;
}

.scott #tm_webpreview_footer p {
	margin: 0;
	padding: 0;
}

.scott #tm_webpreview_content {
	background: none;
	margin: 0;
	padding: 10px;
}

.scott #tm_webpreview_content :first-child {
	margin-top: auto;
}

.scott #tm_webpreview_content > :first-child {
	margin-top: 0;
}

.scott .pro_table {
	border-bottom: 2px solid #eaeaea;
	font-size: inherit;
}

.scott .pro_table th,
.scott .pro_table td {
	background-color: #fff;
	padding: 4px 8px;
}

.scott .pro_table th {
	-webkit-background-origin: content-box;
	-webkit-box-shadow: inset 0 -3px 4px -3px rgba(0,0,0,.2);
	background: #fff -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0)), to(rgba(150,150,150,.15)));
	border-bottom: 1px solid #bbb;
	font-weight: bold;
	text-align: left;
}

.scott .pro_table td {
	vertical-align: top;
}

.scott .pro_table > tbody > tr:nth-child(even) > td {
	background-color: #f3f6fa;
}

.scott .pro_table p {
	margin: 0;
}

.scott .pro_table p + p {
	margin-top: 1em;
}

.scott div.footnotes {
	padding: 1em;
	font-size: 90%;
}

.scott .alternate {
	background-color: #f0f0f0;
}