@import "compass/css3";

$default: #000;
$default__bg: #fff;

body.scott {
	background: $default__bg;
	color: $default;
	height: auto;
	margin: auto;
	overflow: auto;
	padding: auto;
}

.scott {
	#tm_webpreview_header,
	#tm_webpreview_header .headline,
	#tm_webpreview_header .type,
	#tm_webpreview_content,
	#tm_webpreview_footer {
		@include box-shadow(none);
		@include text-shadow(none);
		background: transparent none;
		border: none;
		color: $default;
		display: block;
		float: none;
		height: auto;
		margin: auto;
		max-height: none;
		max-width: none;
		min-height: 0;
		min-width: 0;
		padding: 0;
		position: static;
		white-space: normal;
	}
	
	#theme_switcher {
		display: none;
	}
	
	#tm_webpreview_footer {
		margin: 1em 0 0;
	}

	#tm_webpreview_header .headline, h1 {
		font-size: 2em;
	}

	#tm_webpreview_header .type, h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.17em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.83em;
	}

	h6 {
		font-size: 0.67em;
	}
	
	a, a:hover, a:visited {
		color: #1525ab;
		text-decoration: underline;
	}

	pre {
		background: none;
		border-radius: 0;
		border: none;
		color: $default;
		padding: 0;
		position: static;
		white-space: pre-line;
		word-wrap: break-word;
	}

	hr {
		background: #999;
		border: 1px solid #999;
		height: auto;
		margin: auto;
		padding: 0;
	}

	#{headings()}, p, pre, blockquote {
		margin-bottom: .6em;
		margin-top: .6em;
	}	
}
