// TextMate Executor

$succeed: #0acc0a;
$fail: #e30000;

div.executor {
	padding-bottom: 20px;

	& > .controls {
		bottom: 0;
		position: fixed;
		right: 0;
		padding: .3em .6em .4em;
		text-align: right;
		z-index: 10001;

		a {
			@extend #theme_selector;
		}
		a:hover {
			text-decoration: underline;
		}
	}

	pre em {
		// font-style: normal;
		// color: #ff5600;
	}

	p#exception strong {
		@include text-shadow(0 1px 0 rgba(255,255,255,.7));
		color: $fail;
	}

	p#traceback {
		// font-size: 8pt;
	}

	blockquote {
		// font-style: normal;
		// border: none;
	}

	table {
		background: $body__bg;
		// margin: 0;
		// padding: 0;
	}

	td {
		// margin: 0;
		// padding: 2px 2px 2px 5px;
		// font-size: 10pt;
	}
}

div#_executor_output {
	.err {
		color: $fail;
	}

	.echo {
		font-style: italic;
	}

	.test {
		&.ok {
			color: $succeed;
		}
		&.fail {
			color: $fail;
		}
	}
}

div#exception_report {
	@extend .notice.error;
	margin: {
		left: 20px;
		right: 20px;
	};

	&.framed:last-child {
		@extend #tm_webpreview_footer;
		font-size: $font_size;
	}

	& > blockquote {
		margin: 0;
		padding: 0;
	}

	pre.snippet {
	}
}