/* ===================== */
/* = Subversion Styles = */
/* ===================== */

div.subversion {
	margin-top: 10px;

	/* INFO */

	dl.info dt {
		font-weight: bold;
		padding: 4px;
		padding-bottom: 0;
		margin: 0;
		border-top: 1px dashed #ddd;
	}

	dl.info dt:first-child {
		border-top: 0;
	}

	dl.info dt:after {
		content: ":";
	}

	dl.info dd {
		margin: 0;
		padding: 4px;
		padding-top: 0;
		padding-left: 24px;
	}

	/* BLAME */

	/* some adds for the links in the table (clickable lines)..*/
	table.blame {
		font-size: 12px;
		padding: 1px;
		border-collapse: collapse;
		width: 100%;

		a, a:visited, a:link {
			text-decoration: none;
			color: inherit;
		}

		td {
			vertical-align: top;
		}

		td.codecol {
			font-family: $font_code;
			padding-left: 4px;
			width: 100%;
		}
	}
}

/* console is invisible by default */
#console{
	display: none;
}

h3.console {
	margin-bottom: 0;
}

#commandOutput {
	border: 1px solid #808080;
	font-family: monospace;
	font-size: 85%;
	margin: 0 1em 1em 0;
	min-height: 2em;
	padding-left: 1em;
	width: 95%;
}

table.status {
	border: 0;
	font-size: $font-size - 1;

	th {
		border: 0;
		padding: 0.5ex 1ex 0.5ex 1ex;
		text-align: left;
	}

	td {
		padding: 3px;

		/* center the status characters */
		&.status_col {
			text-align: center;
		}

		/* stretch the file column the length of the window */
		&.file_col {
			padding: 0 1ex 0 2ex;
			width: 100%;
		}

		/* Status ction buttons */
		&.action_button a {
			&:link {
				padding: 1px;
				border: 1px solid;
				text-decoration: none;
				font-size: 80%;
				text-align: center;
			}
			&:hover {
				background: #BBB;
			}
			&:active {
				background: #555;
			}
		}
	}
}


div#actions {
	margin-top: 1em;
}