@import "compass/support";

$legacy-support-for-ie: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-opera: false;

@import "compass/css3";

$font_body: "Lucida Grande", "Lucida Sans", "Helvetica", sans-serif;
$font_code: "Menlo", "Monaco", "Courier New", monospace;
$font_heading: "Helvetica Neue", "Helvetica", sans-serif;

$font_size: 12px;

$body: #000;
$body__bg: #fff;

$blockquote: #444;

$code__bg: #eee;

$heading: $body;

$link: #1525ab;
$link_visited: #680094;

$header_height: 2.4em;

body.scott {
	-webkit-user-select: none;
	background: $body__bg;
	color: $body;
	font: {
		family: $font_body;
		size: $font_size;
	}
	margin: 0;
	padding: 0;
}

.scott {
	h1, h2, h3, h4, h5, h6 {
		color: $heading;
		font: {
			family: $font_heading;
			style: normal;
			weight: 500;
		};
	}

	h1 { font-size: 2em; }
	h2 { font-size: 1.5em; }
	h3 { font-size: 1.17em; }
	h4 { font-size: 1em; }
	h5 { font-size: 0.83em; }
	h6 { font-size: 0.67em; }

	a {
		color: $link;
		text-decoration: none;

		&:visited {
			color: $link_visited;
		}

		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}

	a:not([href]) {
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
	
	a[rel="external"]::after {
		content: image-url('external-link.png');
		height: 12px;
		line-height: 12px;
		margin: 0;
		opacity: .8;
		padding: 0 0 0 2px;
		vertical-align: text-bottom;
		width: 16px;
	}

	b, strong {
		font-weight: 700;
	}

	i, em {
		font-style: italic;
	}

	blockquote {
		color: $blockquote;
		font-style: italic;
		margin: {
			left: 40px;
			right: 0;
		}
	}

	h1, h2, h3, h4, h5, h6, p, pre, blockquote {
		margin: {
			top: 15px;
			bottom: 15px;
		};
		-webkit-margin-collapse: collapse;
	}

	dl, dt, dd {
		margin: {
			left: 0;
			right: 0;
		}
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-left: 30px;
	}

	pre, tt, code, kbd, samp, textarea {
		font: {
			family: $font_code;
			size: inherit;
		};
	}

	code, pre {
		@include border-radius(3px);
		background: $code__bg;
		background: transparentize(darken($code__bg, 20%), .75);
		border: 1px solid rgba(150,150,150,.07);
	}
	
	code {
		padding: 1px 4px;
	}
	
	pre {
		@include box-sizing(border-box);
		margin: 1em 0;
		overflow: auto;
		padding: .6em .8em;
		position: relative;
		white-space: pre;
		word-wrap: normal;

		code {
			background: transparent;
			border: none;
			padding: 0;
			white-space: pre;
			word-wrap: normal;
		}
	}
	
	hr {
		background-color: #e0e0e0;
		border: none;
		height: 1px;
		margin: 1em 0;
		padding: 0;
	}

	li > p {
		margin: 0;
	}

	// Header
	#tm_webpreview_header {
		@include text-shadow(0 1px 0 rgba(255,255,255,.4));
		background: none;
		border: none;
		color: $heading;
		display: block;
		font: {
			size: $font_size;
			weight: bold;
		};
		height: $header_height;
		left: -2px;
		line-height: $header_height;
		overflow: visible;
		padding: 0;
		position: fixed;
		right: -2px;
		top: 0;
		width: auto;
		z-index: 10000;

		#gradient {
			height: $header_height * 2;
			visibility: collapse;
			width: 0;
		}

		#teaser {
			display: none;
		}

		// Title
		.headline {
			@include background-origin(border-box);
			@include background-image(linear-gradient(top, rgba(215,215,215,.88), rgba(180,180,180,.75)), url("images/noise.png"));
			@include box-shadow(0 1px 0 rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.5), 0 -1px 0 rgba(255,255,255,0.15) inset);
			@include box-sizing(border-box);
			background-color: transparent;
			border: none;
			font: {
				family: $font_heading;
				size: 18px;
			};
			height: auto;
			line-height: inherit;
			margin: 0;
			overflow-x: hidden;
			padding: 0 200px 0 12px;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			z-index: 10;
		}

		// Subtitle
		.type {
			@include background-image(linear-gradient(top, rgba(89,9,89,.9), rgba(153,15,135,.9)));
			@include background-origin(border-box);
			@include border-radius(0 0 3px 3px);
			@include box-shadow(0 0 1px 0 rgba(0,0,0,.3));
			@include text-shadow(0 1px 0 #000);
			border: {
				bottom: 1px solid rgba(0,0,0,.4);
				left: 1px solid rgba(0,0,0,.1);
				right: 1px solid rgba(0,0,0,.1);
				top: none;
			};
			color: #fff;
			float: left;
			font-size: $font-size - 1;
			line-height: $header_height / 2;
			margin: 0 7px;
			max-width: 92%;
			min-height: 3px;
			overflow: hidden;
			padding: 2px 10px;
			position: static;
			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: auto;

			&:empty {
				display: none;
			}
		}
	}

	#theme_switcher {
		// Theme switcher
		@include box-sizing(border-box);
		color: #4a4a4a;
		font-size: 10px;
		font-weight: bold;
		margin: 0;
		opacity: 1;
		max-width: 20em;
		padding: 0 1em 0 0;
		position: absolute;
		right: 0;
		text-align: right;
		top: 0;
		z-index: 100;

		form {
			padding: 0;
		}

		#theme_selector {
			@include appearance(none);
			@include background-image(url("images/arrow_down.png"), linear-gradient(top, rgba(255,255,255,.7), rgba(201,201,201,.7)));
			@include background-origin(border-box);
			@include border-radius(3px);
			@include box-shadow(1px 0 0 rgba(255,255,255,.15), -1px 0 0 rgba(255,255,255,.15), 0 1px 0 rgba(255,255,255,.2));
			@include box-sizing(border-box);
			background: {
				color: #ddd;
				position: right center;
				repeat: no-repeat, repeat-x;
			};
			border: 1px solid rgba(100,100,100,.5);
			color: #444;
			font-weight: bold;
			max-width: 13em;
			outline: none;
			padding: .2em .5em .3em;

			&:hover {
				background-color: #fff;
			}
		}
	}

	// Footer
	#tm_webpreview_footer {
		@include text-shadow(none);
		@include background-origin(border-box);
		@include border-radius(0);
		@include box-shadow(0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 0 2px 0 rgba(0, 0, 0, 0.4));
		background-color: rgba(242,242,242,.95);
		border: 0;
		bottom: 0;
		color: #222;
		display: block;
		font: {
			size: $font-size - 1;
			weight: 500;
		};
		height: auto;
		left: 0;
		margin: 0 auto;
		max-height: 3em;
		overflow: hidden;
		padding: .3em .6em .4em;
		position: fixed;
		right: 0;
		text-overflow: ellipsis;
		top: auto;
		white-space: nowrap;
		width: auto;
		z-index: 10000;

		p {
			margin: 0;
			padding: 0;
		}
	}


	#tm_webpreview_content {
		-webkit-user-select: auto;
		@include box-sizing(border-box);
		background: none;
		margin: $header_height * 2 1.5em 1.5em;
		padding: 0;

		:first-child {
			margin-top: auto;
		}
	}

	table {
		border-collapse: collapse;
		empty-cells: show;
	}

	// Only target tables with no existing class or style definition
	table:not([class]):not([style*=":"]),
	.pro_table {
		@include box-shadow(0 1px 0 0 rgba(150,150,150,.1));
		border: {
			bottom: 1px solid #d0d0d0;
			collapse: separate;
			spacing: 0;
		};
		font-size: inherit;
		margin: 0;
		padding: 0;

		th, td {
			margin: 0;
			padding: 4px 8px;
			text-align: left;
		}

		th {
			font-weight: 700;
		}

		& > tbody > tr > th,
		td {
			vertical-align: top;
		}

		& > thead > tr > th,
		& > tbody:first-child > tr:first-child > th {
			@include box-shadow(0 -3px 4px -3px rgba(0, 0, 0, 0.2) inset, 0 -35px 35px -35px rgba(50, 50, 50, 0.1) inset);
			border-bottom: 1px solid #c6c6c6;
		}

		& > tbody:first-child > tr:first-child > td {
			@include box-shadow(0 -1px 0 0 rgba(150, 150, 150, 0.1));
			border-top: 1px solid #d6d6d6;
		}

		& > tbody:first-child > tr > td:first-child {
			border-left: 1px solid #e2e2e2;
		}

		& > tbody:first-child > tr > td:last-child {
			border-right: 1px solid #e2e2e2;
		}

		& > tbody > tr:nth-child(even) > td {
			// Striped rows
			background-color: #f3f6fa;
			background-color: rgba(206,219,234,0.25);
		}
	}

	div.footnotes {
		font-size: $font_size - 1;
		padding: 1em;

		li > p {
			display: inline;
		}
	}

	.alternate {
		background-color: #f3f6fa;
		background-color: rgba(206,219,234,0.25);
	}

	#tm_webpreview_content > .viewport {
		@include border-radius(0);
		border: none;
		bottom: 0;
		height: auto;
		left: 0;
		margin: 0;
		padding-top: 20px;
		position: absolute;
		right: 0;
		top: $header_height;
		width: auto;
	}
	
	#tm_webpreview_content > .viewport.theme-error {
		border: 3px solid #f00 !important;
		border-top-width: 4px !important;
	}

	// Module Specific Styles
	@import "modules/_pygments";
	@import "modules/_executor";
	@import "modules/_ruby-rdoc";
}